@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-white font-custom text-dark-gray antialiased;
}

body {
  @apply min-h-full relative;
}

#app {
  @apply max-w-[1440px] m-auto;
}

@layer base {
  h1 {
    @apply text-6xl text-black;

    @media (max-width: 720px) {
      font-size: 1.5rem;
      line-height: 29px;
    }
  }
  h2 {
    @apply text-4xl text-black;
  }
  h3 {
    @apply text-3xl text-black;
  }
  p {
    @apply text-xl;
  }
  small {
    @apply text-lg text-black;
  }
  header {
    @apply flex justify-between border-b border-light-gray pb-23px md:pb-27px lg:pb-10;
  }
}

@layer components {
  .btn {
    @apply uppercase font-bold;
  }
  .btn1 {
    @apply text-base text-dark-gray tracking-widest hover:text-black;
  }
  .btn2 {
    @apply text-xs text-dark-gray tracking-wide border-b border-dark-gray hover:text-black hover:border-black;
  }
  .btn3 {
    @apply flex gap-4 bg-black bg-opacity-75 text-sm text-white tracking-wider px-4 py-14px hover:bg-gray-700 hover:bg-opacity-50;
  }
}

.display-text {
  @apply text-9xl text-light-gray;

  @media (max-width: 720px) {
    font-size: 6.25rem;
    line-height: 6.25rem;
    width: fit-content;
    margin-left: auto;
  }
}

.subhead {
  @apply text-2xl text-black font-normal;
}

.main-container {
  @apply p-6 md:p-10 md:pt-29px lg:p-10;
}

/** Hone Styles **/

.gallery img {
  @apply w-full hover:opacity-70;
}

.foreground {
  @apply absolute bottom-0 top-1/2 left-0 right-0 px-9 bg-gradient-to-b from-transparent to-black;
}

.content-container {
  @apply absolute bottom-8;
}

.content-container > h2 {
  @apply text-white w-5/6;
}

.content-container > small {
  @apply text-white opacity-75;
}

/** Painting Styles **/
.slide {
  @apply mt-100px mb-14 flex flex-row items-center gap-30 justify-between;

  @media (max-width: 1445px) {
    flex-direction: column;
    margin-top: 2.5rem;
    gap: 4rem;
  }
}

.left-container {
  @apply flex gap-30 min-h-624;

  @media (max-width: 1445px) {
    min-height: max-content;
  }
  @media (max-width: 720px) {
    flex-direction: column;
    gap: 0;
  }
}

.right-container {
  @apply flex flex-col justify-between h-510;

  @media (max-width: 1445px) {
    height: 360px;
  }
  @media (max-width: 720px) {
    height: fit-content;
  }
}
.right-container a {
  @apply w-fit;

  @media (max-width: 1445px) {
    margin-left: 7.1875rem;
  }
  @media (max-width: 720px) {
    margin-top: 2.5rem;
  }
}

.picture-container {
  @apply relative mb-auto z-10;
}

.picture-container img {
  @apply relative;
}

.picture-container button {
  @apply absolute bottom-4 left-4;

  @media (max-width: 720px) {
    top: 1rem;
    bottom: auto;
  }
}

.picture-title {
  @apply bg-white w-full h-full pl-16 absolute -top-[1px] left-410px;

  @media (max-width: 1445px) {
    left: 15.1875rem;
  }
  @media (max-width: 720px) {
    position: relative;
    left: -1px;
    padding: 1.5rem;
    margin-top: -50px;
    max-width: 280px;
  }
}

.picture-title h1 {
  @apply w-fit font-bold;
}

.picture-title p {
  @apply text-dark-gray mt-6;

  @media (max-width: 720px) {
    margin-top: 0.5rem;
  }
}

.description-container {
  @apply -mt-14;

  @media (max-width: 1445px) {
    margin-top: 0;
  }

  @media (max-width: 720px) {
    margin-top: -5.5rem;
    margin-left: auto;
    display: flex;
    flex-direction: column;
  }
}

.description-container p {
  @apply max-w-350 -mt-8;

  @media (max-width: 1445px) {
    max-width: 28.5625rem;
    margin-top: -5.6225rem;
    margin-left: 7.1875rem;
  }
  @media (max-width: 720px) {
    margin-left: 0;
    margin-top: -2rem;
  }
}

.full-size-picture {
  @apply fixed top-0 bottom-0 left-0 right-0 bg-black bg-opacity-85 z-20 px-6 md:px-12;
}

.slide-footer {
  @apply flex items-center justify-between px-6 py-4 sm:px-10 sm:py-6 gap-2 sm:gap-4;
}

.progress-bar {
  @apply w-full h-2 bg-light-gray overflow-hidden;
}

.footer-info {
  @apply max-w-230 sm:max-w-none;
}

.footer-btns {
  @apply flex gap-2 sm:gap-10;
}

.footer-info h3 {
  @apply font-bold mb-1;
}

.progress {
  width: 0;
  height: 100%;
  background-color: #000;
  transition: width 0.1s linear;
}

.social-icons {
  @apply flex gap-3 items-center justify-center my-4;
}

.gallery {
  margin-top: 40px;
  columns: 4 150px;
  column-gap: 40px;
  text-align: center;

  @media (max-width: 1440px) {
    columns: 2 150px;
    column-gap: 10px;
    max-width: 688px;
    margin: 0 auto;
  }

  @media (max-width: 800px) {
    margin-top: 24px;
    columns: 1 150px;
    max-width: 375px;
  }
}

.card {
  position: relative;
  margin: 0 0 30px 0;
  display: inline-block;
  cursor: pointer;
  text-align: left;

  @media (max-width: 800px) {
    margin: 0 0 10px 0;
  }
}
