@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-white font-custom text-dark-gray antialiased;
}

body {
  @apply min-h-full;
}

#app {
  @apply max-w-[1440px] m-auto p-6 md:p-10 md:pt-29px  lg:p-10;
}

@layer base {
  h1 {
    @apply text-6xl text-black;
  }
  h2 {
    @apply text-4xl text-black;
  }
  h3 {
    @apply text-3xl text-black;
  }
  p {
    @apply text-xl;
  }
  small {
    @apply text-lg text-black;
  }
  header {
    @apply flex justify-between border-b border-light-gray pb-23px md:pb-27px  lg:pb-10;
  }
}

@layer components {
  .btn {
    @apply uppercase font-bold;
  }
  .btn1 {
    @apply text-base text-dark-gray tracking-widest hover:text-black;
  }
  .btn2 {
    @apply text-xs text-dark-gray tracking-wide border-b border-dark-gray hover:text-black hover:border-black;
  }
  .btn3 {
    @apply bg-black backdrop-opacity-75 backdrop-invert bg-white/30 text-sm text-white tracking-wider;
  }
}

.display-text {
  @apply text-9xl text-light-gray;
}

.subhead {
  @apply text-2xl text-black font-normal;
}

.gallery {
  @apply mt-6 sm:mt-10;
}

.card {
  @apply relative w-fit h-fit;
}

.foreground {
  @apply absolute bottom-0 top-1/2 left-0 right-0 bg-gradient-to-b from-transparent to-black px-9;
}

.content-container {
  @apply absolute bottom-8;
}

.content-container > h2 {
  @apply text-white;
}

.content-container > small {
  @apply text-white opacity-75;
}

.gallery {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  height: 1500px;
  width: 1360px;
  gap: 40px;
}
